body{
	margin:0;
  	background: url(../img/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color:#262c05;
  	text-rendering: optimizelegibility;
}

h1, h2, h3 {
font-family: 'Medula One', Helvetica, san-serif;
letter-spacing: 0.025em;
margin-bottom: 0.25em;
color: #173d62;
}

h4, h5, h6, p{
font-family: 'Quattrocento', Georgia, serif;
line-height:1.5;
margin-top: 0;
}

h1{
font-size:38px;
}
h2{
font-size:28px;
}
h3 {
font-size: 24px;
}

img{
max-width:100%;
}
#bio img{
display:none;
}

form p{
margin-top: 2em;
margin-bottom: 0.25em;
}
a:link{
color: #932943;
text-decoration: none;
}
a:visited {
color: #932943;
text-decoration: none;
}
a:hover{
color: #173d62;
}
a.active{
color: #173d62;
font-weight: bold;
}

#page-wrap{
	max-width: 700px;
	margin-right: 45%;
	margin-left:5%;
}
section{
	overflow:auto;
	padding-bottom:2em;
}
textarea{
	min-width: 40%;
	min-height: 6em;
}

#nav ul{
	padding: 0;
	margin: 0;
}
#nav li{
	list-style-type: none;
	padding:0.125em 0.5em;
	float:left;
	margin-right:0.25em;
	background-color: #e1e1e1;
	border-radius: 0.75em 0;
	border: dotted 1px #262c05;
}
.work-education h4{
margin:0 0 0.2em 0;
}

.work-education ul{
	padding: 0;
	margin: 0;
}
.work-education li{
	list-style-type: none;
}
.tasks {
	padding:1em 0 0 2em;
}
.tasks li{
	list-style-type: circle;
}

@media screen and (max-width: 768px){
	body{ background: url(../img/background_768.jpg) no-repeat center center fixed; 
	}
}
@media screen and (max-width: 620px){
	body{ background: url(../img/background.jpg) no-repeat center left fixed; 
	}
	#page-wrap{
	margin-right:5%;
	margin-left:5%;
	}
	#bio img{
	display:block;
	padding-bottom:1em;
	}
}

